<style>
        body{
            background-color: #F7F1E5;
        }
        hr{

            border-style: dotted none none none;
            border-color: rgb(212, 210, 210);
            border-width: 5px;
            width: 37px;
            height: 40px
            
        }
        








    </style>